<div class="card fill-width">
  <div class="center">
    <h1>Welcome to QuelCharts</h1>
    <div class="bounded-box fill-box">
      <h2>Create a New Visualization</h2>
      <%= form_tag 'visualizations#upload', multipart: true do %>
      <div class="container fill-box">
        <div class="row fill-height">
          <div class="col-md-9">
            <%= label_tag(:title, "Visualization Title:") %>
            <%= text_field_tag :title, nil, size: 60, placeholder: 'My Fabulous Data Set' %>
            <%= file_field_tag :file %>
          </div>
          <div class="col-md-3">
            <%= button_tag "Create Visualization", { class: 'btn btn-success fill-box' } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div id="vis-list" class="container fill-box">
  <h1>Visualizations</h1>
  <div class="row">
    <% i = 0 %>
    <% Visualization.all.each do | vis | %>
      <a href="visualizations/<%= vis.id %>">
        <div class='col-md-3 no-margin'>
          <div class='card mini-card fill-box'>
          <b><%= vis.configs['title'] %></b>
          <div>
            <%= label_tag(:id, "Visualization Id:") %>
            <%= vis.id %>
          </div>
          </div>
        </div>
      </a>
      <%= (i == 3) ? "</div><div class='row'>".html_safe : "" %>
      <% i = (i + 1) % 4 %>
    <% end %>
  </div>
</div>
