/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require better_colorpicker
 *= require font-awesome
 *= require quelcharts
 *= require_tree .
 *= require_self
 */

.alert {
    height: auto;
    margin: 20px;
}

body, html, div {
    height: 100%;
}

.bounded-box {
    background-color: #FFF;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px;
}

.card {
    box-shadow: 5px 5px 3px #888;
    background-color: #CCC;
    margin: 5px;
    height: auto;
}

.container, .main-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #DDD;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #AAA;
}

.nav-btn {
    cursor: pointer;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #CCC;
}

.navbar-default .navbar-nav > li > a {
    color: #AAA;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #AAA;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #666;
}

.navbar-default {
    border: none;

    background: -webkit-linear-gradient(#333, #111); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #111); /* Standard syntax */
}

#vis-canvas {
    padding-bottom: 50px;
}
