// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body[data-page-name='home/index'] {

    .card {
        padding: 20px;

        .mini-card {
            margin: 0;
            height: auto;
        }
    }

    .center {
        margin: 0 auto;
    }

    .container, .main-content {
        width: 60%;
        height: 40%;
        padding: 0;

        .fill-box {
            width: 100%;
            height: 100%;
        }

        .fill-width {
           width: 100%;
        }

        .fill-height {
           height: 100%;
        }

        .row {
            margin: 5px 0;
            height: auto;
        }

        .no-margin {
           margin: 0;
           padding-left: 0;
           padding-right: 10px;
        }
    }

   .main-content {
      width: 60%;
      height: 40%;
   }

   footer {
     display: none;
   }

}
