<!DOCTYPE html>
<html>
  <head>
    <title> <%= "QuelCharts" %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="<%= image_path('quelcharts.png') %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:description"
          content="Version: <%= QCD::Application::VERSION %>" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= javascript_tag do %>
    window.namespace = <%= raw @namespace.to_json %>
    <% end %>
  </head>
  <body data-page-name="<%= params[:controller] %>/<%= params[:action] %>">
    <div id="outer" class="<%= params[:controller] %>-controller <%= params[:action] %>-action">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-btn" href="<%= root_path %>" style="padding-top: 0px;"><span><%= image_tag('quelcharts-no-bg.png', height:'50px') %> QuelCharts</span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <% if params[:controller] != 'home' %>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a id="scatter_btn" class="nav-btn chart">
                    <i class="fa fa-line-chart"></i> Scatter
                  </a>
                </li>
                <li>
                  <a id="bar_btn" class="nav-btn chart">
                    <i class="fa fa-bar-chart"></i> Bar
                  </a>
                </li>
                <li>
                  <a id="rad_btn" class="nav-btn chart">
                    <i class="fa fa-circle-thin"></i> RadVis
                  </a>
                </li>
                <li>
                  <a id="hist_btn" class="nav-btn chart">
                    <i class="fa fa-bar-chart"></i> Histogram
                  </a>
                </li>
                <li>
                  <a id="tree_btn" class="nav-btn chart">
                    <i class="fa fa-tree"></i> Tree
                  </a>
                </li>
                <li>
                  <a id="carousel_btn" class="nav-btn chart">
                    <i class="fa fa-cubes"></i> Carousel
                  </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          <% end %>
        </div><!-- /.container-fluid -->
      </nav>
      <!-- Main Container -->
      <div class="container main-content <%= @layout_wide ? 'mc-wide' : '' %>" data-role="page">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </body>
  <footer>
    <span>
      <b>Version:</b>
      <%= QCD::Application::VERSION %>
      <i> (<%= QCD::Application::VERSION_NAME %>)</i>
    </span>
  </footer>
</html>
